Package: rockpi-penta
Version: 0.4
Architecture: all
Maintainer: Radxa <dev@radxa.com>
Depends: python3, python3-libgpiod (>= 2.0), python3-pillow, python3-pip
Section: utils
Priority: optional
Homepage: https://github.com/aldrineeinsteen/rockpi-penta
Description: Rockpi Penta Hat (GPIOD v2)
